nav{
<<<<<<< HEAD
    color: brown; 
}
li {
    padding: auto;
    display: inline;
    margin-right: 100px;
    font-family:fantasy;
}
a:hover{
    color:black;
}
a:link {
    text-decoration: none;
}
header {
    text-align: center;
}
body {
    background-color:rgb(48, 48, 48);
} 
nav {
    background-image: url("https://i.pinimg.com/originals/d3/65/00/d36500786d133155cbef79b2c258f058.jpg");
    padding: 40px;
    border: 5px solid black;
    text-align: center;
}
p  {
    top: 50px;
    right: inherit;
    color: bisque;
}


=======
    color: brown;
}



>>>>>>> 236217745205b954a35c810bdf93862a7fab1441
